@page "/"
@inherits ItemsBase

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div>
    <a class="btn btn-primary" 
    href="/additem">Add</a>
</div>
<br />

@if (Items == null)
{
    <p><em>Loading inventory...</em></p>
}
else
{
    var itemRowList = new List<ItemDto>();
    itemRowList = Items.ToList();
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Filter..."
           @bind="Filter"
           @bind:event="oninput">
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="sort-th" @onclick="@(() => SortTable("Name"))">
                    Item
                    <span class="fa @(SetSortIcon("Name"))"></span>
                </th>
                <th class="sort-th" @onclick="@(() => SortTable("Category"))">
                    Category
                    <span class="fa @(SetSortIcon("Category"))"></span>
                </th>
                <th class="sort-th" @onclick="@(() => SortTable("Location"))">
                    Location
                    <span class="fa @(SetSortIcon("Location"))"></span>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in itemRowList)
            {
                if (!IsVisible(item))
                    continue;
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Category</td>
                    <td>@item.Location</td>
                    <td>
                        <a class="btn btn-primary" href='/Itemedit/@item.Id'>Edit</a>  
                        |<a class="btn btn-danger" @onclick="(() => DeleteItem_Click(item.Id))">Delete</a>  
                    </td>
                </tr>      
            }
        </tbody>
    </table>
}
